<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    input[type="datetime-local"], input[type="text"], textarea, input[type="submit"] {
      padding: 8px;
      margin: 4px;
      box-sizing: border-box;
      width: 100%;
    }

    textarea {
      resize: vertical;
    }

    input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    td:last-child {
      display: flex;
      gap: 5px;
    }

    td:last-child input {
      margin: 0;
    }
  </style>
  <title>{{main_title}}</title>
</head>
<body>
  <h1>{{main_title}}</h1>
  <table>
    <tr>
      <th>Examination Number</th>
      <th>Examination Date and Time</th>
      <th>Examination Details</th>
      <th>Doctor ID</th>
      <th>Patient ID</th>
      <th>Action</th>
      <th>Delete</th>
    </tr>
    {{#each examination_res}}
      <tr>
        <form method="post" action="/updateExamination">
          <td>{{Examination_number}}</td>
          <td style="display: none"><input type="text" name="examination_number" value="{{Examination_number}}"></td>
          <td><input type="datetime-local" name="examination_date_time" value="{{Examination_Date_Time}}"></td>
          <td><textarea name="details">{{Examination_Details}}</textarea></td>
          <td><input type="text" name="doctor_ID" value="{{Doctor_ID}}"></td>
          <td><input type="text" name="patient_ID" value="{{Patient_ID}}"></td>
          <td>
            <input type="submit" value="Modify">
          </td>
        </form>
        <form method="post" action="/updateExamination/deleteExamination">
          <td style="display: none"><input type="text" name="examination_number" value="{{Examination_number}}"></td>
          <td><input type="submit" value="Delete"></td>
        </form>
      </tr>
    {{/each}}
  </table>
</body>
</html>